* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
.body {
  max-width: 1320px;
  margin: auto;
}
/* header section start here */
.first-banner {
  background: url(./resources/Banner\ Image.png);
  border-radius: 16px;
  height: 600px;
  margin-top: 50px;
}
.first-heading {
  color: #fff;
  text-align: center;
  padding: 177px 344px;
}

.first-heading h1 {
  font-size: 72px;
  padding-top: 16px;
}
.first-heading h3 {
  font-size: 32px;
}
/* header section end here */
/* Main > first section start */
.percentage {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
  margin-top: 120px;
}
.first-section {
  text-align: center;
}
.first-section p {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  /* padding-top: 48px; */
  margin-top: 48px;
}
.first-section h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  padding-top: 16px;
}
.new-year-photo {
  margin-top: 48px;
}
/* Main > first section end  */

/* Main > second section start */
.second-section {
  background: url("./resources/Vectorrr.png");
  margin-top: 120px;
  margin-bottom: 120px;
}
.midnight-party {
  display: flex;
}
.welcome-party {
  font-size: 64px;
  color: #fff;
  padding-top: 126px;
  padding-left: 126px;
  font-weight: 900;
  width: 642px;
  /* line-height: 88px; 137.5% */
}
.second-section p {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 126px;
  padding-top: 24px;
  width: 697px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.first-btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 48px;
  margin-left: 158px;
  color: #fff;
  background: #000;
}
.year-2024 {
  padding-left: 155px;
  padding-top: 75px;
  margin-bottom: 55px;
}
/* Main > second section end */
/* Main > third section start */
.section-of-third {
  background-color: #fde9e9e7;
  margin-bottom: 120px;
  border-radius: 10px;
  text-align: center;
  width: 1320px;
  height: 482px;
}
.new-park p,
span {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  /* line-height: 56px; */
}
.new-park {
  padding-top: 100px;
}
.new-park span {
  color: #f00;
}
.new-park button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-top: 48px;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 10px;
  color: #fff;
  background-color: #f00;
}
/* Main > third section end */

/* Main > fourth section start */
.new-best {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.images-circle {
  width: 463px;
  height: 463px;
  border-radius: 463px;
  border: 15px solid #f00;
}
.images-circle {
  padding-left: 35px;
  padding-top: 35px;
}
.fourth-section {
  text-align: left;
}
.new-best h4 {
  font-family: "Inter", sans-serif;
  color: #f00;
  margin-top: 104px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
}
.new-best h1 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.new-best p{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.60);
}
.dolar2024{
    padding-left: 118px;
}
.dolar2024 h2{
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #f00;
    margin-top: 110px;
    padding-bottom: 16px;
}
.dolar2024 img{
    padding-top: 60px;
}
/* Main > fourth section end */
